[Unit]
Description=Route 53 Dynamic DNS daemon
After=syslog.target
After=network.target

[Service]
Type=simple
User=nobody
Group=vpnadmin
ExecStart=/usr/bin/python3 /usr/local/bin/r53dydns.py

# Give the script some time to startup
TimeoutSec=300

[Install]
WantedBy=multi-user.target
